<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            --bodyb: whitesmoke;
            --centerb: white;
            --headertext: black;
            --msgtext: black;
        }

        body {
            background: var(--bodyb);
            min-height: 100vh;
            display: grid;
            place-items: center;
        }

        .center {
            margin: auto;
            background: var(--centerb);
            padding: 40px;
            width: 60%;
        }

        .form input {
            width: 100%;
            outline: none;
            border: none;
            background-color: whitesmoke;
            padding: 10px 20px;
            border-radius: 30px;
        }

        .text h1 {
            text-align: center;
            color: var(--headertext);
            font-size: 2rem;
        }

        .msg {
            text-transform: capitalize;
            font-size: larger;
            font-weight: 700;
            text-align: center;
            color: var(--msgtext);
            font-size: 1.1rem;
        }

        .linkContiner {
            margin: 20px auto;
            text-align: center;
        }

        .link {
            text-transform: capitalize;
            background-image: linear-gradient(90deg, #009bbe, #00def6);
            border: 3px solid rgba(0, 0, 0, 0);
            text-decoration: none;
            margin: 20px auto;
            padding: 5px 20px;
            color: white;

            border-radius: 10px;
            font-size: 1.1rem;
            font-weight: 800;
            transition: all 700ms;
        }

        .link:hover {
            background: white;
            border-color: #00def6;
            color: #009bbe;
        }

        .info {
            text-transform: lowercase;
            margin-top: 30px;
            color: red;
            text-align: center;
        }

        @media only screen and (max-width: 1000px) {
            .center {
                width: 80%;
            }
        }

        @media only screen and (max-width: 600px) {
            .center {
                width: 95%;
            }
        }

        @media only screen and (max-width: 600px) {
            .center {
                width: 95%;
                padding: 40px 20px;
            }

            .text h1 {
                font-size: 1.5rem;
            }

            .msg {
                font-size: .9rem;
            }

            .info {
                font-size: .9rem;
            }
        }
    </style>
    <title>Task App | Reset Password Page</title>
</head>

<body>
    <div class="center shadow border border-danger">
        <div class="text">
            <h4 class="text-center w-50 mx-auto text-capitalize text-info mb-0 fw-bold">Hello, {{name}}</h4>
            <h1>Reset Your Password</h1>
            <p id="show" class="mt-0 w-50 mx-auto text-lowercase" style="text-align: justify;">&nbsp;</p>
            <form method="post" class="col-md-8 mx-auto form" id="resetform" action="/reset-password">
                {{!-- <input type="hidden" name="_method" value="put"> --}}
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" id="password"
                        placeholder="create new password" pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$'
                        title='password should be atleast eight character long password should contain atleast one uppercase letter, atleast one lowercase letter and atleast one number'
                        required oninput="validate(this)">
                    <label for="password">Create New Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="confirmpassword" id="confirm"
                        placeholder="conform created password" pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$'
                        title='password should be atleast eight character long password should contain atleast one uppercase letter, atleast one lowercase letter and atleast one number'
                        required oninput="validate(this)">
                    <label for="confirm">Conform Created Password</label>
                </div>
                <input type="hidden" name="id" value="{{id}}" />
                <input type="hidden" name="token" value="{{token}}" />

                <div class="linkContiner">
                    <button type="submit" class="link">Reset Password</button>
                </div>
            </form>
        </div>
        <script>
            const resetform = document.getElementById("resetform");
            const password = document.getElementById("password");
            const confirmpassword = document.getElementById("confirmpassword");
            const passwordM = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
            const valid = { password: false, confirmpassword: false }
            const show = document.getElementById("show");
            const setBorder = (e, val = false, text = "", color = "danger") => {
                if (val) {
                    e.style.borderColor = "#28a745";
                    e.style.boxShadow = "0 0 0 0.2rem rgba(40, 167, 69, 0.25)";

                } else {
                    e.style.borderColor = "#28a745";
                    e.style.boxShadow = "0 0 0 0.2rem rgba(167, 40, 40, 0.25)";
                }
            }

            const validate = (e) => {
                const { name, value } = e;
                if (value.match(passwordM)) {
                    setBorder(e, true)
                    valid[name] = true
                }
                else { setBorder(e); valid[name] = false }
            }
            resetform.onsubmit = (e) => {
                e.preventDefault();
                if (!valid.password || !valid.confirmpassword) {
                    show.innerHTML = `<span class="text-danger">password should be atleast eight character long password should contain atleast one uppercase letter, atleast one lowercase letter and atleast one number</span>`
                    return;
                }
                if (e.target.elements.password.value !== e.target.elements.confirmpassword.value) {
                    show.innerHTML = `<span class="text-danger">Password and Conform Password Must Be Same!</span>`;
                    return;
                }
                resetform.submit();
            }

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>